name: Push Docker Image to Local Registry
defaults:
  run:
    shell: bash

env:
    CONNECT_SERVER: ${{ secrets.CONNECT_SERVER }}
    CONNECT_PORT: ${{ secrets.CONNECT_PORT }}
    CONNECT_KEY: ${{ secrets.CONNECT_KEY }}
    CONNECT_TIMEOUT: ${{ vars.CONNECT_TIMEOUT }}
    CONNECT_MODE: ${{ vars.CONNECT_MODE }}
    CONNECT_METHOD: ${{ secrets.CONNECT_METHOD }}

on:
    workflow_dispatch:
        inputs:
          IMAGE_TAG:
            description: 'Image Tag'
            required: true
            default: 'easysearch:2.0.0'

jobs:
    push_docker_image:
        name: Push Docker Image to Local Registry
        runs-on: ubuntu-latest
        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Setup bootstrap
          uses: ./containers/bootstrap

        - name: Set up and check env
          run: |
            echo "${{ secrets.DOCKER_CA }}" > $GITHUB_WORKSPACE/certs/ca.crt
            PROXY=http://${{ secrets.LOCAL_HOST }}:${{ secrets.LOCAL_PORT }} $GITHUB_WORKSPACE/certs/init.sh
        
        - name: Run connect in background
          run: |
            connect -c "$GITHUB_WORKSPACE/.net.json" >/dev/null 2>&1 &

        - name: Login to local docker registry
          uses: docker/login-action@v3
          with:
            registry: ${{ secrets.DOCKER_REGISTRY }}
            username: ${{ secrets.DOCKER_USERNAME }}
            password: "L${{ secrets.DOCKER_PASSWORD }}"
  
        - name: Login to dockerhub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
                      
        - name: Deploy images to staging
          timeout-minutes: 30
          continue-on-error: true
          run: |
            docker pull infinilabs/${{ inputs.IMAGE_TAG }}
            docker tag infinilabs/${{ inputs.IMAGE_TAG }} ${{ secrets.DOCKER_REGISTRY }}/infinilabs/${{ inputs.IMAGE_TAG }}
            docker push ${{ secrets.DOCKER_REGISTRY }}/infinilabs/${{ inputs.IMAGE_TAG }}