name: Publish Maven Artifacts to Maven Central

defaults:
  run:
    shell: bash

env:
  TZ: Asia/Shanghai
  TOKEN: ${{ secrets.X_TOKEN }}
  PRE_RELEASE: ${{ vars.PRE_RELEASE }}
  RELEASE_URL: ${{ vars.RELEASE_URL }}
  PUBLISH_RELEASE: ${{ vars.PUBLISH_RELEASE }}
  JAVA_DISTRIBUTION: ${{ vars.JAVA_DISTRIBUTION }}
  JAVA_VERSION: ${{ vars.JAVA_VERSION }}
  GRADLE_VERSION: ${{ vars.GRADLE_VERSION }}
  SSH_GIT_REPO: ${{ secrets.SSH_GIT_REPO }}
  SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
  SSH_CONFIG: ${{ secrets.SSH_CONFIG }}
  OSS_EP: ${{ secrets.OSS_EP }}
  OSS_AK: ${{ secrets.OSS_AK }}
  OSS_SK: ${{ secrets.OSS_SK }}
  OSS_BK: ${{ secrets.OSS_BK }}
  OSS_MODE: ${{ secrets.OSS_MODE }}
  LOCAL_HOST: ${{ secrets.LOCAL_HOST }}
  LOCAL_PORT: ${{ secrets.LOCAL_PORT }}
  CONNECT_SERVER: ${{ secrets.CONNECT_SERVER }}
  CONNECT_PORT: ${{ secrets.CONNECT_PORT }}
  CONNECT_KEY: ${{ secrets.CONNECT_KEY }}
  CONNECT_TIMEOUT: ${{ vars.CONNECT_TIMEOUT }}
  CONNECT_MODE: ${{ vars.CONNECT_MODE }}
  CONNECT_METHOD: ${{ secrets.CONNECT_METHOD }}
  ZULU_JAVA_VERSION: ${{ vars.ZULU_JAVA_VERSION }}
  JAVA_VERSION_21: ${{ vars.JAVA_VERSION_21 }}
  NODEJS_VERSION: ${{ vars.NODEJS_EXT_VERSION }}
  PNPM_VERSION: 'latest'

  
on:
  workflow_dispatch:
    inputs:
      JDK_VERSION:
        description: 'JDK Version'
        type: choice
        options:
          - '8'
          - '11'
          - '17'
          - '21'
        default: '8'
      BUILD_TOOL:
        description: 'Build Tool'
        type: choice
        options:
          - 'gradle'
          - 'maven'
        default: 'gradle'
      PUBLISH_COMPONENT:
        description: 'Publish Artifacts'
        type: choice
        options:
          - 'easysearch-client'
          - 'license'
        default: 'easysearch-client'
      PUBLISH_VERSION:
        description: 'Publish Version'
        required: true
        type: string
        default: '1.0.0'

jobs:
  publish:
    name: Publish easysearch files and docker
    runs-on: ubuntu-latest
    env:
      JDK_VERSION: ${{ inputs.JDK_VERSION }}
      BUILD_TOOL: ${{ inputs.BUILD_TOOL }}
      PNAME: ${{ inputs.PUBLISH_COMPONENT }}
      PUBLISH_VERSION: ${{ inputs.PUBLISH_VERSION }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup bootstrap
        uses: ./containers/bootstrap

      - name: Run connect in background
        run: |
          connect -c "$GITHUB_WORKSPACE/.net.json" >/dev/null 2>&1 &
          echo "Connect started with pid $!"
          sleep 5

      - name: Set up JDK ${{ env.JDK_VERSION }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JDK_VERSION }}
          distribution: 'temurin'
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Setup Gradle
        if: ${{ env.BUILD_TOOL == 'gradle' }}
        uses: gradle/actions/setup-gradle@v5
          
      - name: Check Env version
        run: |
          java -version || true
          mvn -version || true
          gradle -version || true

      - name: Checkout ${{ env.PNAME }} code
        run: |
          REPO_NAME=$PNAME
          if [ "$PNAME" == 'license' ]; then
            REPO_NAME="$PNAME-java"
          fi
  
          echo "Cloning component repository: $REPO_NAME"
          git clone --depth 1 --branch main $SSH_GIT_REPO/$REPO_NAME $GITHUB_WORKSPACE/$PNAME
      
      - name: Prepare Publish Version ${{env.PUBLISH_VERSION }}
        working-directory: ${{ env.PNAME}}
        run: |
          if [ "$PNAME" == 'easysearch-client' ]; then
            cp -rf $GITHUB_WORKSPACE/products/easysearch/client/build.gradle .
            sed -i "s/^version[[:space:]]*=[[:space:]]*['\"].*['\"]/version = '$PUBLISH_VERSION'/" build.gradle
          elif [ "$PNAME" == 'license' ]; then
            cp -rf $GITHUB_WORKSPACE/products/license/pom.xml .
            mvn versions:set -DnewVersion=$PUBLISH_VERSION -DgenerateBackupPoms=false
          fi
      
      - name: Publish License
        if: ${{ env.BUILD_TOOL == 'maven' && env.PNAME == 'license' }}
        working-directory: ${{ env.PNAME}}
        run: mvn -DskipTests clean deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          MAVEN_ARGS: "-B -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn"

      - name: Build and Bundle
        if: ${{ env.BUILD_TOOL == 'gradle' && env.PNAME == 'easysearch-client' }}
        working-directory: ${{ env.PNAME}}
        run: ./gradlew bundleZip
        env:
          SIGNING_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          SIGNING_PASSWORD: ${{ secrets.GPG_PASSPHRASE }}

      - name: Upload to Central Portal
        if: ${{ env.BUILD_TOOL == 'gradle' && env.PNAME == 'easysearch-client' }}
        working-directory: ${{ env.PNAME}}
        run: |
          ZIP_FILE=$(find build/distributions -name "*-bundle.zip" | head -n 1)
          echo "Found bundle: $ZIP_FILE"
          
          AUTH_HEADER=$(echo -n "${{ secrets.OSSRH_USERNAME }}:${{ secrets.OSSRH_PASSWORD }}" | base64 -w 0)
          
          curl --request POST \
            --verbose \
            --fail \
            --header "Authorization: UserToken ${AUTH_HEADER}" \
            --form "bundle=@${ZIP_FILE}" \
            --form "publishingType=AUTOMATIC" \
            https://central.sonatype.com/api/v1/publisher/upload