name: Publish Elasticsearch Docker Image

defaults:
  run:
    shell: bash

env:
  DNAME: agent
  PNAME: elasticsearch
  TZ: Asia/Shanghai
  PUBLISH_RELEASE: "TRUE"
  RELEASE_URL: ${{ vars.RELEASE_URL }}
  JAVA_DISTRIBUTION: ${{ vars.JAVA_DISTRIBUTION }}
  JAVA_VERSION: ${{ vars.JAVA_VERSION }}
  ZULU_JAVA_VERSION: ${{ vars.ZULU_JAVA_VERSION }}

on:
  workflow_dispatch:
    inputs:
      PUBLISH_VERSION:
        description: 'Publish Version'
        required: true
        default: "7.10.2"
      
      PUBLISH_AGENT_VERSION:
        description: 'Publish With Agent Version'
        required: true
        default: "1.30.1-2308"
      PUBLISH_OSS:
        description: 'Publish OSS Version'
        required: true
        type: boolean
        default: true

jobs:
  publish:
    name: Publish Elasticsearch Docker Image
    runs-on: ubuntu-latest
    env:
      PUBLISH_OSS: ${{ inputs.PUBLISH_OSS }}
      AGENT_VERSION: ${{ inputs.PUBLISH_AGENT_VERSION || vars.PUBLISH_VERSION }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup bootstrap
        uses: ./containers/bootstrap
        
      - name: Set up and check env
        run: |
          mkdir -p "$GITHUB_WORKSPACE/{dest,jdks}"
          
          # Optional: auto-fetch AGENT_VERSION if pattern matches
          if [[ "${{ env.AGENT_VERSION }}" =~ ^([0-9]+\.[0-9]+\.[0-9]+)$ ]]; then
            AGENT_VERSION=$(curl -s "${{ env.RELEASE_URL }}/.latest" | jq -r ".${{ env.DNAME }}")
          else
            AGENT_VERSION="${{ env.AGENT_VERSION }}"
          fi
          echo "AGENT_VERSION=$AGENT_VERSION" >> "$GITHUB_ENV"

          # Ensure PUBLISH_VERSION is set
          if [ -z "${{ inputs.PUBLISH_VERSION }}" ]; then
            echo "ERROR: PUBLISH_VERSION is not set!" >&2
            exit 1
          else
            PUBLISH_VERSION="${{ inputs.PUBLISH_VERSION }}"
            echo "PUBLISH_VERSION=$PUBLISH_VERSION" >> "$GITHUB_ENV"
          fi

          MAJOR_VERSION=$(echo "$PUBLISH_VERSION" | cut -d'.' -f1)

          # Validate MAJOR_VERSION is a number
          if ! [[ "$MAJOR_VERSION" =~ ^[0-9]+$ ]]; then
            echo "ERROR: MAJOR_VERSION '$MAJOR_VERSION' is not a valid integer!" >&2
            exit 1
          fi

          if [ "$MAJOR_VERSION" -ge 9 ]; then
            JAVA_VERSION=21
          elif [ "$MAJOR_VERSION" -ge 8 ]; then
            JAVA_VERSION=17
          elif [ "$MAJOR_VERSION" -ge 7 ]; then
            JAVA_VERSION=11
          else
            JAVA_VERSION=8
          fi

          echo "JAVA_VERSION=$JAVA_VERSION" >> "$GITHUB_ENV"

      - name: Set up java toolchain
        uses: actions/setup-java@v4
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - name: Repackage and bundle for publish with ${{ env.PUBLISH_VERSION}}
        run: |
          IFS=- read -r DYNAMIC_VERSION DYNAMIC_BUILD_NUMBER <<< "$PUBLISH_VERSION"
          if [ -z "$DYNAMIC_BUILD_NUMBER" ]; then
            RUN_NUMBER=${{ github.run_number }}
            OFFSET=${{ vars.OFFSET }}
            DYNAMIC_BUILD_NUMBER=$((RUN_NUMBER + OFFSET))
          fi
          DYNAMIC_BUILD_DATE=$(date '+%Y-%m-%d %H:%M:%S')

          export VERSION=$DYNAMIC_VERSION
          export BUILD_NUMBER=$DYNAMIC_BUILD_NUMBER
          export BUILD_DATE=$DYNAMIC_BUILD_DATE
          
          echo VERSION=$DYNAMIC_VERSION >> $GITHUB_ENV
          echo BUILD_NUMBER=$DYNAMIC_BUILD_NUMBER >> $GITHUB_ENV
          cat $GITHUB_ENV

          echo "Build $PNAME with [ VERSION $VERSION | BUILD_NUMBER $BUILD_NUMBER ] at $BUILD_DATE"

      - name: Build for docker version ${{ env.VERSION }} with agent version ${{ env.AGENT_VERSION }}
        run: |
          echo "Build docker for $PNAME start..."
          #prepare docker build
          chmod 755 $GITHUB_WORKSPACE/products/$PNAME/build-docker.sh
          echo "Building docker image for $PNAME with OSS=$PUBLISH_OSS, VERSION=$VERSION, BUILD_NUMBER=$BUILD_NUMBER with JAVA_HOME=$JAVA_HOME"
          JAVA_HOME=$JAVA_HOME EZS_OSS=$PUBLISH_OSS EZS_VER=$VERSION-$BUILD_NUMBER $GITHUB_WORKSPACE/products/$PNAME/build-docker.sh

      - name: Set up qemu
        uses: docker/setup-qemu-action@v3

      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v3
        #with:
        #  buildkitd-flags: --debug

      - name: Login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker build meta with ${{ env.PNAME }}
        id: tags
        run: |
          SUFFIX=$([[ "${{ env.PUBLISH_OSS }}" == "true" ]] && echo "-oss" || echo "")
          echo REPO_NAME=${{ vars.DOCKER_REPO }}/$PNAME$SUFFIX >> $GITHUB_ENV
          echo "RELEASE_TAG=${{ vars.DOCKER_REPO }}/$PNAME$SUFFIX:$VERSION" >> "$GITHUB_OUTPUT"

      - name: Docker Build and push with ${{ env.VERSION }}-${{ env.BUILD_NUMBER }}
        uses: docker/build-push-action@v6
        with:
          context: ${{ github.workspace }}/products/${{ env.PNAME }}
          file: ${{ github.workspace }}/products/${{ env.PNAME }}/Dockerfile
          target: prod
          platforms: |
            linux/amd64
            linux/arm64
          tags: |
            ${{ env.REPO_NAME }}:${{ env.VERSION }}-${{ env.BUILD_NUMBER }}
            ${{ steps.tags.outputs.RELEASE_TAG }}
          push: true
          provenance: false
          #no-cache: true