name: Test Coco Server Integration
defaults:
  run:
    shell: bash
env:
  TZ: Asia/Shanghai
  GO_VERSION: ${{ vars.GO_VERSION }}
  NODEJS_VERSION: ${{ vars.NODEJS_EXT_VERSION }}
  EZS_VERSION: ${{ inputs.EZS_VERSION }}
  RELEASE_URL: ${{ vars.RELEASE_URL }}

on:
  schedule:
    - cron: '30 16 * * *'
  workflow_dispatch:
    inputs:
      EZS_VERSION:
        description: 'Easysearch Version'
        required: false
        type: string
        default: "2.1.0-2625"
      RUN_COMPILE_TEST:
        description: 'Run Coco Server Compile Test?'
        required: false
        type: boolean
        default: true
      DEBUG_LOG:
        description: 'Debug Log Mode'
        required: false
        type: boolean
        default: true

jobs:
    compile-test:
        if: ${{ github.event_name != 'workflow_dispatch' || (github.event.inputs && inputs.RUN_COMPILE_TEST) }}
        runs-on: ubuntu-latest
        steps:
            - name: Init env
              run: |
                export WORKBASE=$HOME/go/src
                export WORK=$WORKBASE/infini.sh
                export ES_PASSWORD=INFINILabs_Test_CI_2026
                export EASYSEARCH_INITIAL_ADMIN_PASSWORD=INFINILabs_Test_CI_2026

                echo WORKBASE=$WORKBASE >> $GITHUB_ENV
                echo WORK=$WORK >> $GITHUB_ENV
                echo ES_USERNAME=admin >> $GITHUB_ENV
                echo ES_PASSWORD=$ES_PASSWORD >> $GITHUB_ENV
                echo EASYSEARCH_INITIAL_ADMIN_PASSWORD=$EASYSEARCH_INITIAL_ADMIN_PASSWORD >> $GITHUB_ENV
                echo ES_ENDPOINT=https://127.0.0.1:9200 >> $GITHUB_ENV
                echo GW_ENDPOINT=https://127.0.0.1:8000 >> $GITHUB_ENV
                echo VERSION=1.0.0 >> $GITHUB_ENV
                echo BUILD_NUMBER=$(date +%Y%m%d) >> $GITHUB_ENV
                echo EOF=$(date -d "$(date +%Y)-12-31 +1 day -1 day" +%Y-%m-%d) >> $GITHUB_ENV
                echo BUILD_DATE=$(date '+%Y-%m-%d %H:%M:%S') >> $GITHUB_ENV
                cat $GITHUB_ENV
            
            - name: Checkout current repository
              uses: actions/checkout@v6

            - name: Setup bootstrap
              uses: ./containers/bootstrap

            - name: Checkout loadgen
              uses: actions/checkout@v6
              with:
                ref: main
                repository: infinilabs/loadgen
                path: loadgen
                  
            - name: Checkout framework
              uses: actions/checkout@v6
              with:
                ref: main
                repository: infinilabs/framework
                path: framework

            - name: Checkout framework-vendor
              uses: actions/checkout@v6
              with:
                ref: main
                repository: infinilabs/framework-vendor
                path: vendor
            
            - name: Checkout coco
              uses: actions/checkout@v6
              with:
                ref: main
                repository: infinilabs/coco
                path: coco

            - name: Set up nodejs toolchain
              uses: actions/setup-node@v6
              with:
                node-version: ${{ env.NODEJS_VERSION }}
                cache: 'npm'
                cache-dependency-path: "**/package.json"
            
            - name: Check nodejs toolchain
              run: |
                if ! command -v pnpm >/dev/null 2>&1; then
                  npm install -g pnpm
                fi

            - name: Set up go toolchain
              uses: actions/setup-go@v6
              with:
                go-version: ${{ env.GO_VERSION }}
                check-latest: false
                cache: true
                cache-dependency-path: "**/go.sum"

            - name: Check go toolchain
              run: go version && go env

            - name: Run easysearch docker
              run: |
                VER=$(curl "$RELEASE_URL/.latest" |sed 's/",/"/;s/"//g;s/://1' |grep -Ev '^[{}]' |grep "easysearch" |awk '{print $NF}')
                echo "The latest easysearch version is $VER and input version is $EZS_VERSION"
                if [[ "$EZS_VERSION" != "$VER" ]] && [[ -n "$EZS_VERSION" ]]; then
                  # x.y.z or x.y.z-build_number pattern
                  if [[ "$EZS_VERSION" =~ ^[0-9]+\.[0-9]+\.[0-9]+(-[0-9]+)?$ ]]; then
                    VER=$EZS_VERSION
                  else
                    echo "EZS_VERSION does not match x.y.z or x.y.z-build_number pattern, skipping assignment."
                  fi
                fi
                echo "Using easysearch docker image with $VER ..."
                sudo mkdir -p $HOME/easysearch/{data,logs} && sudo chown -RLf 602:602 $HOME/easysearch && sudo chmod -R 777 "$HOME/easysearch"
                docker pull infinilabs/easysearch:$VER
                docker run -d --name easysearch \
                  -p 9200:9200 -p 9300:9300 \
                  -e cluster.name=easysearch \
                  -e "JAVA_OPTS=-Xms2g -Xmx2g" \
                  -e EASYSEARCH_INITIAL_ADMIN_PASSWORD=$EASYSEARCH_INITIAL_ADMIN_PASSWORD \
                  -e METRICS_WITH_AGENT=true \
                  -e METRICS_CONFIG_SERVER=http://127.0.0.1:9000 \
                  -v $HOME/easysearch/logs:/app/easysearch/logs \
                  -v $HOME/easysearch/data:/app/easysearch/data \
                  infinilabs/easysearch:$VER
                # Wait for easysearch to start
                sleep 60

            - name: Run easysearch test
              timeout-minutes: 5
              continue-on-error: true
              run: |
                echo "Running integration test at $PWD ..."

                HOST=$(echo "$ES_ENDPOINT" | awk -F[/:] '{print $4}')
                PORT=$(echo "$ES_ENDPOINT" | awk -F[/:] '{print $5}')
                PORT=${PORT:-443}

                while ! nc -z "$HOST" "$PORT"; do
                  echo "Port $PORT not open on $HOST. Retrying in 5 seconds..."
                  sleep 5
                done
                echo "Port $PORT is open on $HOST. Proceeding with tests..."
                echo
                echo "Checking easysearch status at $ES_ENDPOINT ..."
                curl -u "$ES_USERNAME:$ES_PASSWORD" "$ES_ENDPOINT/_cluster/health?pretty&local=true"

            - name: Prepare coco server tests
              run: |
                mkdir -p $WORKBASE
                echo Home path is $HOME
                
                echo Check work folder $GITHUB_WORKSPACE
                ln -s $GITHUB_WORKSPACE $WORK

                cp -rf $GITHUB_WORKSPACE/.github/workflows/coco $WORK/

            - name: Compile products code
              run: |
                # for loadgen
                cd $WORK/loadgen && echo Compiling loadgen at $PWD ...
                OFFLINE_BUILD=true GOMODULE=false make build  > /dev/null 2>&1
                
                # for coco server
                cd $WORK/coco && echo Compiling coco server at $PWD ...
                make build-all > /dev/null 2>&1

                # verify binaries exist
                if [ ! -f $WORK/coco/bin/coco ] || [ ! -f $WORK/loadgen/bin/loadgen ]; then
                  echo "Error: coco or agent binary not found at $WORK/coco/bin/coco"
                  exit 1
                fi

                # export loadgen to PATH
                mkdir -p $HOME/bin
                cp -f $WORK/loadgen/bin/loadgen $HOME/bin/
                chmod +x $HOME/bin/loadgen
                echo "$HOME/bin" >> $GITHUB_PATH

            - name: Run Coco integration tests
              working-directory: ${{env.WORK}}/coco
              timeout-minutes: 20
              env:
                GITHUB_ACTIONS: true
              run: |
                echo "Update coco.yml file setting ..."
                if [ -f $WORK/coco/coco.yml ]; then
                  echo "Copy coco.yml to bin folder ..."
                  cp -f $WORK/coco/coco.yml $WORK/coco/bin/coco.yml
                fi
                echo "Running Coco integration tests at $PWD ..."
                python3 run_integration_tests.py

    notify_on_failure:
      runs-on: ubuntu-latest
      needs: [compile-test]
      if: false
      steps:
        - name: Checkout code
          uses: actions/checkout@v6
          
        - name: Notify message via feishu
          env:
            FEISHU_BOT_URL: ${{ secrets.FEISHU_BOT_WEBHOOK_URL }}
            REPO_NAME: ${{ github.repository }}
            WORKFLOW_NAME: ${{ github.workflow }}
            RUN_ID: ${{ github.run_id }}
            ACTOR: ${{ github.triggering_actor }}
            SERVER_URL: ${{ github.server_url }}
          run: $GITHUB_WORKSPACE/scripts/feishu_message.sh